* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: #F2F5F7;
}

img {
  max-width: 100%;
}

.inner--blog {
  max-width: 1240px;
  margin: 0 auto;
}
.inner--blog__title {
  font-size: 48px;
  line-height: 1;
  margin: 0;
  margin-bottom: 40px;
}
.inner--blog__title.h2 {
  text-align: center;
  margin-bottom: 50px;
}
.inner--blog__subtitle {
  display: flex;
  align-items: center;
  gap: 56px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.inner--blog__subtitle--date {
  color: #A8B1B7;
}
.inner--blog__subtitle--stars {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #A8B1B7;
}
.inner--blog__subtitle--watch {
  margin-left: auto;
  display: flex;
  gap: 9px;
  color: #A8B1B7;
}
.inner--blog__subtitle--watch span {
  white-space: nowrap;
}
.inner--blog__wrapper {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.inner--blog__wrapper .h2 {
  font-size: 48px;
  line-height: 48px;
  margin-top: 44px;
  margin-bottom: 24px;
  text-align: center;
  width: 100%;
}
.inner--blog__wrapper--callback {
  width: 100%;
}
.inner--blog__wrapper--blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px 50px;
  margin-bottom: 90px;
}
.inner--blog__wrapper--blog__item {
  flex: 1 1 calc(50% - 50px);
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.inner--blog__wrapper--blog__image {
  display: flex;
  width: 113px;
  height: 96px;
}
.inner--blog__wrapper--blog__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.inner--blog__wrapper--blog__info {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.inner--blog__wrapper--blog__title {
  color: #CF2127;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  max-width: 290px;
}
.inner--blog__wrapper--blog__date {
  color: #A8B1B7;
}
.inner--blog__wrapper--blog .button {
  background-color: #CF2127;
  border-radius: 50px;
  max-width: 183px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.inner--blog__left {
  width: 100%;
  flex: 1 1 calc(75% - 50px);
}
.inner--blog__left--texts .h2 {
  font-size: 36px;
  line-height: 36px;
}
.inner--blog__left--texts p {
  line-height: 24px;
  margin-bottom: 10px;
}
.inner--blog__left--texts .quote {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  margin: 32px 0;
}
.inner--blog__left--texts .quote p {
  font-style: italic;
}
.inner--blog__left--texts__form {
  background-color: #CF2127;
  border-radius: 10px;
  padding: 35px 76px 36px 44px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
  margin: 40px 0;
}
.inner--blog__left--texts__info {
  max-width: 350px;
}
.inner--blog__left--texts__info .h2 {
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}
.inner--blog__left--texts__info p {
  font-size: 15px;
  margin-bottom: 0;
}
.inner--blog__left--texts__block {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  gap: 20px;
}
.inner--blog__left--texts__block .button {
  outline: none;
  text-decoration: none;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  height: 50px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.inner--blog__left--texts__check {
  font-size: 12px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.inner--blog__left--texts__check a {
  color: #000;
  text-decoration: none;
}
.inner--blog__left--texts__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.inner--blog__left--texts__list li {
  display: flex;
  gap: 15px;
}
.inner--blog__left--texts__list li::before {
  content: "";
  display: block;
  margin-top: 8px;
  min-width: 7px;
  width: 7px;
  height: 7px;
  background-color: #CF2127;
  border-radius: 50%;
}
.inner--blog__left--texts__table {
  display: flex;
  border-radius: 10px;
  border: 1px solid #A8B1B7;
  overflow: hidden;
  margin-bottom: 32px;
}
.inner--blog__left--texts__table span {
  display: inline-block;
  text-align: center;
  padding: 16px;
}
.inner--blog__left--texts__column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inner--blog__left--texts__column span {
  border-bottom: 1px solid #A8B1B7;
  border-right: 1px solid #A8B1B7;
}
.inner--blog__left--texts__column span:first-child {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #CF2127;
  color: #fff;
}
.inner--blog__left--texts__column span:last-child {
  border-bottom: none;
}
.inner--blog__left--texts__column:last-child span {
  border-right: none;
}
.inner--blog__left--texts__head {
  background-color: #CF2127;
  color: #fff;
  display: flex;
  width: 100%;
}
.inner--blog__left--texts__head span {
  border-right: 1px solid #FFFFFF;
}
.inner--blog__left--texts__head span:last-child {
  border-right: none;
}
.inner--blog__left--texts__wrapper {
  display: flex;
  width: 100%;
}
.inner--blog__left--texts__wrapper span {
  border-right: 1px solid #A8B1B7;
  border-bottom: 1px solid #A8B1B7;
}
.inner--blog__left--texts__wrapper span:last-child {
  border-right: none;
}
.inner--blog__left--texts__wrapper:last-child span {
  border-bottom: none;
}
.inner--blog__left--texts__image {
  margin: 32px 0;
  display: block;
  position: relative;
}
.inner--blog__left--texts__image.first {
  margin-top: 0;
}
.inner--blog__left--texts__image span {
  position: absolute;
  right: -30%;
  bottom: 5px;
  max-width: 240px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #A8B1B7;
}
.inner--blog__left--catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  margin-bottom: 30px;
}
.inner--blog__left--catalog__item {
  flex: 1 1 calc(33% - 40px);
  max-width: 280px;
  display: flex;
  flex-direction: column;
}
.inner--blog__left--catalog__image {
  margin-bottom: 15px;
}
.inner--blog__left--catalog__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.inner--blog__left--catalog__price {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 35px;
}
.inner--blog__left--catalog__title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}
.inner--blog__left--catalog__subtitle {
  font-size: 12px;
  line-height: 15px;
  color: #A8B1B7;
  margin-bottom: 6px;
}
.inner--blog__left--catalog__link {
  font-size: 15px;
  line-height: 20px;
  color: #CF2127;
  text-decoration: none;
  font-weight: 700;
  max-width: 240px;
  min-height: 60px;
}
.inner--blog__left--catalog__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inner--blog__left--catalog__buttons .button {
  background-color: #CF2127;
  border-radius: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  color: #fff;
  text-decoration: none;
}
.inner--blog__left--catalog__buttons .button--white {
  background-color: transparent;
  color: #CF2127;
  border: 1px solid #CF2127;
}
.inner--blog__left--catalog__footer {
  width: 100%;
  font-size: 12px;
}
.inner--blog__left--catalog__footer a {
  color: #CF2127;
  text-decoration: none;
  line-height: 15px;
}
.inner--blog__left--services {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 32px;
}
.inner--blog__left--services__item {
  flex: 1 1 calc(33% - 30px);
  max-width: 287px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.inner--blog__left--services__image {
  display: flex;
  flex: 0 1 auto;
}
.inner--blog__left--services__info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.inner--blog__left--services__info .h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
}
.inner--blog__left--services__price {
  color: #CF2127;
  font-weight: 700;
  margin-bottom: 20px;
}
.inner--blog__left--services__text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 24px;
  display: flex;
  flex: 1 1 auto;
}
.inner--blog__left--services__link {
  display: flex;
  flex: 0 1 auto;
  text-decoration: none;
  font-size: 15px;
  color: #CF2127;
  margin-top: auto;
}
.inner--blog__left--useful {
  display: flex;
  color: #A8B1B7;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.inner--blog__left--useful__icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.inner--blog__left--useful__icon {
  display: flex;
  cursor: pointer;
}
.inner--blog__left--useful__icon.dislike {
  transform: rotate(180deg);
}
.inner--blog__left--useful__icon:hover path {
  fill: #000;
}
.inner--blog__left--tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 125px;
}
.inner--blog__left--tags__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 40px;
  color: #000;
  text-decoration: none;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: 50px;
}
.inner--blog__right {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 280px;
  flex: 1 1 calc(25% - 50px);
}
.inner--blog__right--title {
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
}
.inner--blog__right--contents {
  list-style-type: none;
  margin-bottom: 40px;
}
.inner--blog__right--contents li a {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #A8B1B7;
  text-decoration: none;
  display: block;
}
.inner--blog__right--contents li:last-child a {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.inner--blog__right--social {
  display: flex;
  gap: 20px;
  color: #A8B1B7;
}
.inner--blog__right--social__links {
  display: flex;
  gap: 4px;
}
.inner--blog__right--social__links a:hover, .inner--blog__right--social__links a:focus {
  opacity: 0.9;
}
.inner--toning {
  max-width: 1240px;
  margin: 0 auto;
}
.inner--toning__title {
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 50px;
}
.inner--toning .h2 {
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 50px;
}
.inner--toning__callback, .inner--toning__prices {
  margin-bottom: 100px;
}
.inner--toning__manufacturer {
  margin-bottom: 100px;
}
.inner--toning__manufacturer--wrapper {
  display: flex;
  gap: 40px;
}
.inner--toning__manufacturer--item {
  display: flex;
  flex-direction: column;
  gap: 23px;
  max-width: 250px;
}
.inner--toning__manufacturer--item:first-child {
  max-width: 235px;
}
.inner--toning__manufacturer--item:last-child {
  max-width: 190px;
}
.inner--toning__manufacturer--text {
  color: #A8B1B7;
  font-size: 13px;
  line-height: 15px;
}
.inner--toning__price {
  margin-bottom: 100px;
}
.inner--toning__price--wrapper {
  display: flex;
  gap: 17px 0;
}
.inner--toning__price--block {
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
}
.inner--toning__price--block:first-child .inner--toning__price--block__title {
  padding-left: 17px;
}
.inner--toning__price--block__title {
  min-height: 46px;
  border-bottom: 1px solid #D5DBE1;
  padding-bottom: 17px;
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.inner--toning__price--block__title span {
  color: #40464C;
}
.inner--toning__price--block__title img {
  max-height: 28px;
  max-width: 73px;
  filter: grayscale(1);
}
.inner--toning__price--block__title img.car {
  max-width: 35px;
}
.inner--toning__price--block__title:first-child span {
  font-weight: 500;
  font-size: 15px;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.inner--toning__price--footer {
  font-size: 15px;
  color: #696C71;
}
.inner--toning__kinds {
  margin-bottom: 100px;
}
.inner--toning__kinds--wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.inner--toning__kinds--item {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.inner--toning__kinds--text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  max-width: 491px;
}
.inner--toning__kinds--text .h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}
.inner--toning__kinds--text p {
  font-size: 18px;
  line-height: 25px;
}

.inner--blog__wrapper.long {
  margin-bottom: 100px;
}
.inner--blog__wrapper.long h2, .inner--blog__wrapper.long .h2 {
  font-size: 33px;
  line-height: 1;
}
.inner--blog__wrapper.long ul {
  padding-left: 25px;
}
.inner--blog__wrapper.long .inner--blog__left--date {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 30px;
}
.inner--blog__wrapper.long .inner--blog__left .h1 {
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 50px;
}
.inner--blog__wrapper.long .inner--blog__left--info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.inner--blog__wrapper.long .inner--blog__left--info .social {
  display: flex;
  gap: 13px;
  padding-top: 20px;
  border-top: 1px solid #000;
  max-width: 620px;
}
.inner--blog__wrapper.long .inner--blog__left--info .social--wrapper {
  display: flex;
  gap: 18px;
}
.inner--blog__wrapper.long .inner--blog__left--block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inner--blog__another {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.inner--blog__another h2, .inner--blog__another .h2 {
  font-size: 48px;
  line-height: 1;
  text-align: left;
  margin-bottom: 50px;
}
.inner--blog__another--item {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

@media screen and (max-width: 1366px) {
  .inner--blog {
    max-width: 1180px;
  }
  .inner--blog__title, .inner--blog__subtitle, .inner--blog__wrapper, .inner--blog__wrapper--blog, .inner--blog .breadcrumb-block, .inner--blog__wrapper--callback {
    padding-left: 20px;
    padding-right: 20px;
  }
  .inner--blog__title {
    font-size: 44px;
    margin-bottom: 34px;
  }
  .inner--blog__title.h2 {
    margin-bottom: 45px;
  }
  .inner--blog__subtitle {
    margin-bottom: 38px;
  }
  .inner--blog__left--texts p, .inner--blog__left--texts li {
    font-size: 14px;
    line-height: 22px;
  }
  .inner--blog__left--texts .h2 {
    font-size: 32px;
    line-height: 1;
    margin-top: 40px;
    margin-bottom: 17px;
  }
  .inner--blog__left--texts .quote {
    margin: 28px 0;
  }
  .inner--blog__left--texts__form {
    padding: 32px 47px 32px 40px;
    margin-top: 35px;
  }
  .inner--blog__left--texts__info .h2 {
    margin: 0;
    margin-bottom: 10px;
  }
  .inner--blog__left--texts__head span, .inner--blog__left--texts__body span {
    font-size: 14px;
  }
  .inner--blog__left--texts__image span {
    right: -34%;
    font-size: 13px;
  }
  .inner--blog__left--catalog__price {
    margin-bottom: 14px;
  }
  .inner--blog__left--catalog__title {
    font-size: 20px;
    line-height: 22px;
  }
  .inner--blog__left--catalog__subtitle {
    font-size: 11px;
  }
  .inner--blog__left--catalog__link {
    font-size: 13px;
  }
  .inner--blog__left--catalog__buttons .button {
    font-size: 14px;
  }
  .inner--blog__wrapper--blog {
    gap: 35px 50px;
  }
  .inner--blog__wrapper--blog__title {
    font-size: 22px;
    line-height: 28px;
  }
  .inner--blog__wrapper--blog__date {
    font-size: 14px;
  }
  .inner--blog__wrapper--blog .button {
    font-size: 16px;
  }
  .inner--toning__title {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .inner--toning .h2 {
    font-size: 36px;
  }
  .inner--blog__wrapper.long {
    margin-bottom: 60px;
  }
  .inner--blog__wrapper.long h2 {
    font-size: 24px;
  }
  .inner--blog__wrapper.long p, .inner--blog__wrapper.long ul, .inner--blog__wrapper.long li {
    font-size: 14px;
    line-height: 22px;
  }
  .inner--blog__wrapper.long .inner--blog__left .h1 {
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 30px;
  }
  .inner--blog__wrapper.long .inner--blog__left--info {
    gap: 30px;
  }
  .inner--blog__wrapper.long .inner--blog__left--block {
    gap: 15px;
  }
  .inner--blog__another {
    margin-bottom: 60px;
  }
  .inner--blog__another h2, .inner--blog__another .h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .inner--blog__another--item {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .inner--blog__title {
    margin-bottom: 24px;
    font-size: 35px;
  }
  .inner--blog__subtitle {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 24px;
  }
  .inner--blog__subtitle--watch {
    margin-left: 0;
  }
  .inner--blog__wrapper {
    flex-wrap: wrap;
  }
  .inner--blog__left {
    order: 2;
    flex: 100%;
  }
  .inner--blog__left--texts .h2 {
    font-size: 24px;
    text-align: left;
  }
  .inner--blog__left--texts__image img {
    width: 100%;
  }
  .inner--blog__left--texts__image span {
    position: initial;
    margin-top: 10px;
    display: block;
    max-width: 100%;
    font-size: 13px;
  }
  .inner--blog__left--texts__image span br {
    display: none;
  }
  .inner--blog__left--texts p, .inner--blog__left--texts li {
    font-size: 16px;
  }
  .inner--blog__left--texts__info .h2 {
    font-size: 36px;
  }
  .inner--blog__left--catalog {
    gap: 20px;
  }
  .inner--blog__left--catalog__item {
    flex: calc(33% - 20px);
    max-width: 33%;
  }
  .inner--blog__left--services {
    gap: 20px;
  }
  .inner--blog__left--services__item {
    flex: calc(33% - 20px);
    max-width: 33%;
  }
  .inner--blog__left--services__image img {
    width: 100%;
  }
  .inner--blog__left--services__info {
    padding: 29px 16px 18px 16px;
  }
  .inner--blog__right {
    order: 1;
    flex: 100%;
  }
  .inner--blog__right--contents {
    margin-bottom: 24px;
  }
  .inner--blog__right--social {
    margin-bottom: 25px;
  }
  .inner--blog__wrapper.long .inner--blog__right {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .inner--toning__title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 30px;
  }
  .inner--toning .h2 {
    font-size: 36px;
  }
  .inner--toning__manufacturer--wrapper {
    flex-wrap: wrap;
    gap: 50px 45px;
  }
  .inner--toning__manufacturer--item {
    max-width: 50%;
    flex: 1 1 calc(50% - 45px);
  }
  .inner--toning__manufacturer--item:first-child, .inner--toning__manufacturer--item:last-child {
    max-width: 100%;
  }
  .inner--toning__price--block__title {
    align-items: center;
  }
  .inner--toning__price--block__title span {
    max-width: 150px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width: 768px) {
  .inner--blog__wrapper--blog {
    gap: 15px;
    margin-bottom: 65px;
  }
  .inner--blog__wrapper--blog__item {
    flex: 1 1 100%;
    gap: 47px;
  }
  .inner--blog__wrapper--blog__info {
    gap: 30px;
  }
  .inner--blog__wrapper--blog__image {
    min-width: 155px;
    width: 155px;
  }
  .inner--blog__wrapper--blog__image img {
    width: 100%;
  }
  .inner--blog__wrapper--blog__title {
    max-width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
  .inner--blog__wrapper--blog .button {
    margin-top: 45px;
  }
  .inner--blog__title.h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .inner--blog__left--tags {
    gap: 15px 5px;
  }
  .inner--blog__left--tags__item {
    font-size: 14px;
    padding: 0 12px;
  }
}
@media screen and (max-width: 700px) {
  .inner--blog__left--catalog__item, .inner--blog__left--services__item {
    flex: calc(50% - 20px);
    max-width: 50%;
  }
  .inner--toning__price--wrapper {
    flex-wrap: wrap;
  }
  .inner--toning__price--block {
    flex: calc(50% - 20px);
    max-width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .inner--blog__title {
    margin-bottom: 16px;
  }
  .inner--blog__left--texts__image {
    margin: 24px 0;
  }
  .inner--blog__left--texts__image span {
    line-height: 16px;
    margin-top: 5px;
  }
  .inner--blog__left--texts .h2 {
    font-size: 20px;
    line-height: 32px;
    max-width: 311px;
  }
  .inner--blog__left--texts .quote {
    margin: 16px 0;
  }
  .inner--blog__left--texts__form {
    flex-direction: column;
    padding: 34px 30px 17px;
  }
  .inner--blog__left--texts__form .h2 {
    font-size: 26px;
  }
  .inner--blog__left--texts__block {
    max-width: 100%;
    width: 100%;
  }
  .inner--blog__left--texts__block .button {
    font-size: 16px;
    font-weight: 400;
  }
  .inner--blog__left--texts li {
    font-size: 15px;
  }
  .inner--blog__left--texts__table {
    flex-wrap: wrap;
  }
  .inner--blog__left--texts__column {
    flex: 50%;
    width: 50%;
  }
  .inner--blog__left--texts__column span {
    font-size: 14px;
  }
  .inner--blog__left--texts__column:nth-child(2) span {
    border-right: none;
  }
  .inner--blog__left--catalog, .inner--blog__left--services {
    gap: 20px;
  }
  .inner--blog__left--catalog__item, .inner--blog__left--services__item {
    flex: 100%;
    max-width: 100%;
  }
  .inner--blog__wrapper--blog__item {
    gap: 20px;
  }
  .inner--toning .h2 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  .inner--toning .h3 {
    font-size: 26px;
    line-height: 31px;
  }
  .inner--toning__manufacturer--item {
    flex: 100%;
    max-width: 100%;
  }
  .inner--toning__kinds--wrapper {
    gap: 30px;
  }
  .inner--toning__kinds--item {
    flex-direction: column;
    gap: 20px;
  }
  .inner--toning__kinds--text {
    gap: 20px;
  }
  .inner--blog__wrapper.long h2 {
    line-height: 30px;
    letter-spacing: -0.02em;
  }
  .inner--blog__wrapper.long p, .inner--blog__wrapper.long ul, .inner--blog__wrapper.long li {
    font-size: 16px;
  }
  .inner--blog__wrapper.long ul, .inner--blog__wrapper.long li {
    list-style-type: none;
    padding-left: 0;
  }
  .inner--blog__wrapper.long .inner--blog__left--date {
    margin-bottom: 10px;
  }
  .inner--blog__wrapper.long .inner--blog__left .h1 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
  }
  .inner--blog__wrapper.long .inner--blog__left--info {
    gap: 30px;
  }
  .inner--blog__wrapper.long .inner--blog__left--block {
    gap: 30px;
  }
}
@media screen and (max-width: 414px) {
  .inner--blog__wrapper--blog__image {
    width: 75px;
    min-width: 75px;
    height: 64px;
  }
  .inner--blog__wrapper--blog__info {
    gap: 5px;
  }
  .inner--blog__wrapper--blog__title {
    font-size: 16px;
    font-weight: 400;
  }
}
.services .row {
  display: flex;
}
.services-item {
  background-color: #fff;
}
.services-item.not--actual {
  filter: grayscale(1);
}
.services-item-price {
  color: #969696;
}

/* страница постов */

/* стили из сайта битстоп */

a, a:visited {
  text-decoration: none;
}

.content {
  padding: 0 20px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  border-radius: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn-white {
  background: #ffffff !important;
  color: #cf2127;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 55px;
}
.btn-default {
  background: #cf2127;
  justify-content: center;
  padding: 10px 35px;
  color: #ffffff !important;
  font-weight: 400;
}

/* // мои стили для страницы постов */

.articles-page_block {
  margin-bottom: 100px;
}
.articles-page_title {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}
.articles-page_title .h1, .articles-page_title h1 {
  font-size: 72px;
  line-height: 48px;
}
.articles-page_buttons {
  display: flex;
  gap: 20px;
  height: 50px;
  margin-top: 8px;
  width: 100%;
}
.articles-page_buttons .btn {
  font-size: 20px;
  padding: 0;
}
.articles-page_buttons .btn-white {
  border: 1px solid #cf2127;
  max-width: 355px;
  width: 100%;
}
.articles-page_buttons .btn-default {
  max-width: 341px;
  width: 100%;
}
.articles-page .h2, .articles-page h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000;
  font-weight: bold;
}
.articles-page h3, .articles-page .h3 {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
}
.articles-page_list {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.articles-page_item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 40px;
  color: #000;
}
.articles-page_item-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.articles-page_item-image img {
  display: block;
  width: 100%;
  max-height: 420px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.articles-page_item-image span {
  color: #A8B1B7;
}
.articles-page_item.articles-full {
  flex-direction: column;
}
.articles-page_item.articles-full h2, .articles-page_item.articles-full .h2 {
  font-size: 35px;
  line-height: 1;
}
.articles-page_item.articles-popular .articles-popular_single {
  flex: 1 1 calc(75% - 40px);
  color: #000;
}
.articles-page_item.articles-popular .articles-popular_news {
  flex: 1 1 calc(25% - 40px);
}
.articles-page_item.articles-popular .articles-popular_news h3, .articles-page_item.articles-popular .articles-popular_news .h3 {
  margin-bottom: 30px;
}
.articles-page_item.articles-popular .articles-popular_news-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.articles-page_item.articles-popular .articles-popular_news-list a {
  color: #000000;
  text-decoration: underline;
}
.articles-page_item.articles-popular .articles-popular_news-list a:hover {
  text-decoration: none;
}
.articles-page_item.articles-three {
  display: flex;
  gap: 35px;
}
.articles-page_item.articles-three .articles-three_block {
  color: #000;
  flex: 1 1 calc(33% - 35px);
}
.articles-page_item.articles-five {
  align-items: center;
}
.articles-page_item.articles-five .articles-five_block, .articles-page_item.articles-five .articles-five_list {
  flex: 1 1 calc(50% - 40px);
}
.articles-page_item.articles-five .articles-five_list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 50px;
}
.articles-page_item.articles-five .articles-five_item {
  flex: 1 1 calc(50% - 40px);
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.articles-page_item.articles-five .articles-five_item span {
  color: #A8B1B7;
}
.articles-page_item.articles-columns {
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-direction: column;
  width: 100%;
}
.articles-page_item.articles-columns .articles-columns_block {
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}
.articles-page_item.articles-columns .articles-columns_block .articles-page_item-image {
  width: 330px;
}
.articles-page_item.articles-columns .articles-columns_block .articles-page_item-image img {
  width: 100%;
}
.articles-page_item.articles-columns .articles-columns_block:hover h2, .articles-page_item.articles-columns .articles-columns_block:hover .h2 {
  text-decoration: none;
}
.articles-page_item.articles-columns .articles-columns_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 524px;
  color: #000;
}
.articles-page_item.articles-columns .articles-columns_title span {
  color: #A8B1B7;
}
.articles-page_item.articles-columns .articles-columns_title h2, .articles-page_item.articles-columns .articles-columns_title .h2 {
  font-weight: normal;
  text-decoration: underline;
}

@media screen and (max-width: 1366px) {
  .articles-page_block {
    margin-bottom: 60px;
  }
  .articles-page_title {
    margin-bottom: 60px;
    margin-top: 40px;
  }
  .articles-page_title .h1, .articles-page_title h1 {
    font-size: 48px;
  }
  .articles-page_list {
    gap: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .articles-page .h2, .articles-page h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .articles-page .h3, .articles-page h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .articles-page_buttons .btn {
    font-size: 16px;
    height: 45px;
  }
  .articles-page_item {
    gap: 10px 25px;
  }
  .articles-page_item.articles-popular .articles-popular_single {
    flex: calc(60% - 40px);
  }
  .articles-page_item.articles-popular .articles-popular_news .h3 {
    margin-bottom: 20px;
  }
  .articles-page_item.articles-popular .articles-popular_news-list {
    gap: 20px;
  }
  .articles-page_item.articles-three {
    gap: 20px;
  }
  .articles-page_item.articles-five .articles-five_list {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .articles-page_item.articles-five .articles-five_item {
    flex: calc(50% - 25px);
    gap: 10px;
  }
  .articles-page_item.articles-columns .articles-columns_block {
    gap: 20px;
  }
}
@media screen and (max-width: 992px) {
  .articles-page .h2, .articles-page h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .articles-page .h3, .articles-page h3 {
    font-size: 24px;
    line-height: 26px;
  }
  .articles-page_title {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .articles-page_title .h1, .articles-page_title h1 {
    font-size: 40px;
  }
  .articles-page_list {
    gap: 40px;
  }
  .articles-page_item-image span {
    font-size: 14px;
  }
  .articles-page_item.articles-full h2, .articles-page_item.articles-full .h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .articles-page_item.articles-popular {
    gap: 40px;
  }
  .articles-page_item.articles-popular .articles-popular_single {
    flex: 100%;
  }
  .articles-page_item.articles-popular .articles-popular_news .h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 28px;
  }
  .articles-page_item.articles-popular .articles-popular_news-list {
    gap: 30px;
  }
  .articles-page_item.articles-three {
    gap: 40px;
  }
  .articles-page_item.articles-three .articles-three_block {
    flex: 100%;
  }
  .articles-page_item.articles-five {
    gap: 45px;
  }
  .articles-page_item.articles-five .articles-five_block {
    flex: 100%;
  }
  .articles-page_item.articles-five .articles-five_list {
    row-gap: 30px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .articles-page_item.articles-five .articles-five_item .h3, .articles-page_item.articles-five .articles-five_item h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .articles-page_item.articles-columns .articles-columns_block .articles-page_item-image {
    width: 30%;
  }
  .articles-page_item.articles-columns .articles-columns_title {
    max-width: 65%;
  }
}
@media screen and (max-width: 768px) {
  .articles-page_title {
    flex-direction: column;
    align-items: flex-start;
  }
  .articles-page_buttons {
    flex-wrap: wrap;
    height: -moz-fit-content;
    height: fit-content;
  }
  .articles-page_buttons .btn {
    padding: 0 20px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .articles-page .h3, .articles-page h3, .articles-page .h2, .articles-page h2 {
    font-weight: 500;
  }
  .articles-page_title {
    margin-bottom: 20px;
  }
  .articles-page_buttons {
    flex-wrap: wrap;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0;
  }
  .articles-page_buttons .btn {
    max-width: 100%;
    width: 100%;
  }
  .articles-page_item-image img {
    min-height: 235px;
  }
  .articles-page_item.articles-five .articles-five_item {
    flex: 100%;
  }
  .articles-page_item.articles-columns .articles-columns_block {
    gap: 10px;
  }
  .articles-page_item.articles-columns .articles-columns_block .articles-page_item-image {
    width: 88px;
    height: 75px;
  }
  .articles-page_item.articles-columns .articles-columns_block .articles-page_item-image img {
    height: 100%;
    border-radius: 10px;
  }
  .articles-page_item.articles-columns .articles-columns_title {
    gap: 5px;
  }
  .articles-page_item.articles-columns .articles-columns_title h2, .articles-page_item.articles-columns .articles-columns_title .h2 {
    font-size: 16px;
    line-height: 24px;
  }
}